{% extends "base.html" %}

{% block title %}Archive{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}favicon.ico">
{% endblock %}
{% block content %}
<div id="content" class="page">
    <a href="/"><img src="{{ static }}/title.jpg" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes"></a>

<p class="answer">Hello! My name is Corey Mohler and this is my comic. I started it to pass some time on the slow march towards death. Some people seem to like it. It consists almost entirely of philosophy jokes, but I make a serious comic every once in a while as well. You can check the archive, which sorts them by category. Here are some questions and answers:</p>

<p class="question">What is your background in philosophy?</p>
<p class="answer">None! Everything I know is only from reading myself, and from listening to podcasts and free lectures online. I probably don't know as much about philosophy as you might assume from reading the comic, and if you find anything wrong about anyone I'm depicting, don't hesitate to email me.</p>

<p class="question">What are your philosophical positions? Are you a nihilist? Sometimes you seem to be endorsing nihilism, but you also have made fun of it.</p>
<p class="answer">
No, I'm not a nihilist. Also, I think that anyone who describes themselves as a nihilist is also unintentionally describing themselves as an idiot (such as in comic 27). That being said, I am not totally decided on issues of metaethics, and I think moral anti-realism is fairly strong. I strongly recommend Simone de Beauvoir's The Ethics of Ambiguity for an existentialist framework for ethics. However there are also, of course, many other ethical frameworks with very strong arguments. The characters in my serious comics do not represent my views, per se. For other philosophical issues, I tend to sympathize with whatever I read last. Philosophy is hard, and it is very difficult to make judgments about the problems in philosophy with any degree of certainty.</p>

<p class="question">
What software do you use to create the comics?</p>
<p class="answer">
</p>

<p class="question">Why do the hands on your drawings look so shitty?</p>
<p class="answer">What hands actually look like in fact is a matter for science to investigate, this is a philosophy comic.</p>

<p class="question">But they looked pretty good on the Plotinus comic, so it seems like you can do it, but you are just being lazy. Why not just put in more effort?</p>
<p class="answer">Those hand drawings were self caused.</p>

<p class="question">I have something that might interest your readers, will you share it on your facebook page?</p>
<p class="answer">No.</p>

<p class="question">Will you link to my site on the bottom of your comic if I link to yours?</p>
<p class="answer">No. I'll link to the sites I like, you link to the sites you like.</p>

<p class="question">I want to publish one of the comics on my website and/or in print, how can I do that?</p>
<p class="answer">If you want to put it on a website, go head. Just link back to me and give the proper credit. If it is a print magazine or something like that, email me. Mostly it will be the same.</p>

<p class="question">I find your comic to be extremely pretentious, why is that?</p>
<p class="answer">Because I'm extremely pretentious. Maybe if you read more, you would have figured that out on your own.</p>

<p class="question">I want to do a guest comic swap, can that be done?</p>
<p class="answer">If your comic is fairly close to be in popularity and I like it, I'll probably be interested in doing it. Understand that I only do philosophy jokes though, so I would probably want both my guest comic and yours to be somewhat philosophy related.</p>

<p class="question">Why don't you do some science jokes?</p>
<p class="answer">NO SCIENCE JOKES!</p>

<p class="question">I would like to translate one of your comics, is this possible?</p>
<p class="answer">Yes, email me. I can either send you the original Gimp files, or you can send me the translated text and I'll arrange it. If you send me the translation there is no guarantee on when I'll get it done, but it will be easier that way. I will publish translations on my site, if you send them to me. You can find them in the archive.</p>


    <div id="bottom">
        <div class="footer">
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're the greatest!">existentialcomics@gmail.com</a>
            </p>
            <ul class="nav">
	      <li> <a href="/">Home</p> </li>
              <li> Archive </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

