{% extends "base.html" %}

{% block title %}{{ blog.title }}{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}/favicon.ico">
{% endblock %}
{% block content %}
<div id="content">
    {% if showAds %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blogTop -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2476863297975868"
            data-ad-slot="5826843264"
            data-ad-format="auto"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
    <a href="/"><img src="{{ static }}/title.jpg" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes"></a>
<h3>{{ blog.title }}</h3>
<div id = "blog-text">
<p>
{{ blog.text|safe }}
</p>
</div>
	<div id = "blog-bottom">
	<ul>
        <li><a href="{{ blog.link}}" class="permalink">Permalink</a></br></li>
	<li><a>Date published: {{ blog.pubDate }}</br></a></li>
        <li><a href="http://www.patreon.com/ExistentialComics">Support the comic on Patreon</a></li>
	</ul>
	</div>
        <div id="share" style='background-image:url({{ static }}/share_42.jpg);'>
            <div style='position:absolute; bottom:0'>
                <table>
                <tr>
                <!--- follow comic -->
                <td width="241px"> 
                    <a href="/rss.xml"><img src='{{ static }}/rss_42.png' title="Follow on RSS" alt="Follow on RSS"></a>
                    <a href="https://bsky.app/profile/existentialcomics.com"><img src="{{ static }}/bluesky_42.png" title="Follow on bluesky for the jokes too stupid to even make comics out of" alt="Follow on bluesky"></a>
                    <a href="https://www.facebook.com/ExistentialComics"><img src="{{ static }}/facebook_42.png" title="Follow on facebook" alt="Follow on facebook"></a>
                </td>
                <!--- share -->
                <td width="241px">
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent('{{ comic.link }}'); return false"><img src="{{ static }}/reddit_42.png" alt="share with reddit" title="share with reddit" border="0" /></a>
                <a href='https://bsky.app/intent/compose' onclick=" window.open('https://bsky.app/intent/compose?text='+encodeURIComponent('{{ comic.link }}')+'&text='+encodeURIComponent('{{ comic.title }}'))"><img src='{{ static }}/bluesky_42.png' alt="share on bluesky" title="share with bluesky"></a>
                <a href="https://www.facebook.com/sharer/" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ comic.link }}'),'facebook-share-dialog','width=626,height=436'); return false;"><img src='{{ static }}/facebook_42.png' alt="share with your friends on facebook" title="share with your friends"></a>
                </td>
                </tr>
                </table>
            </div>
        </div>
    {% if showAds %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blogTop -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2476863297975868"
            data-ad-slot="5826843264"
            data-ad-format="auto"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
        <div class="links">
            <div class="column">
                <h4>Comics I enjoy:</h4>
                <ul>
                    <li>
                        <a href="http://www.dead-philosophers.com/">Dead Philosophers in Heaven</a>
                    </li>
                    <li>
                        <a href="http://www.smbc-comics.com/">SMBC Comics</a>
                    </li>
                    <li>
                        <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a>
                    </li>
                    <li>
                        <a href="http://www.lunarbaboon.com/">Lunar Baboon</a>
                    </li>
                    <li>
                        <a href="http://nedroid.com/">Nedroid Picture Diary</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h4>Podcasts &amp; other sites I like:</h4>
                <ul>
                    <li>
                        <a href="http://www.partiallyexaminedlife.com/">Partially Examined Life</a>
                    </li>
                    <li>
                        <a href="http://www.historyofphilosophy.net/">History of Philosophy without any Gaps</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybites.com/">Philosophy Bites</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybro.com">Philosophy Bro</a>
                    </li>
                    <li>
                        <a href="http://www.critical-theory.com">Critical-Theory</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're the greatest!">existentialcomics@gmail.com</a>
            </p>
            <ul class="nav">
	      <li> <a href="/">Home</a> </li>
              <li> <a href="/archive">Archive</a> </li>
              <li> <a href="http://www.patreon.com/ExistentialComics">Patreon</a> </li>
              <li> <a href="/unofficialComics">Unofficial Comics</a> </li>
	      <li> Blog </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

