{% extends "base.html" %}
{% block title %}{{ comic.title }}{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}/favicon.ico">
<meta property="og:title" content="{{ comic.title}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https:{{ comic.images[0].filename}}" />
<meta property="og:url" content="{{comic.link}}" />
<meta property="og:description" content="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes">
<meta name="twitter:site" content="@existentialcoms">
<meta name="twitter:title" content="{{ comic.title}}">
<meta name="twitter:description" content="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes">
<meta name="twitter:creator" content="@existentialcoms">

{% endblock %}
{% block content %}
<div id="content">
{% if showAds %}
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- comic-top -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2476863297975868"
     data-ad-slot="8363264631"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
{% endif %}
    <a href="/"><img src="{{ static }}/title.jpg" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes" title="{{ joke }}"></a>
    
    <div class = "counter" style="background-image: url({{ static }}/safety.png)">
    <h1 class = "counter-num">{{ kantDays }}</h1>
    </div>
    <div class = "navigation-links">
    <table class="nav-table">
    <tr>
        <td>{% if firstComic %}<a href="/comic/{{ firstComic }}"><img src="{{ static }}/nav_start.jpg">{% else %}<img src="{{ static }}/nav_start_b.jpg">{% endif %}</td>
        <td>{% if prevComic %}<a href="/comic/{{ prevComic }}"><img src="{{ static }}/nav_prev.jpg"></a>{% else %}<img src="{{ static }}/nav_prev_b.jpg">{% endif %}</td>
        <td><a href="/comic/random"><img src="{{ static }}/nav_rand.jpg"></a></td>
        <td>{% if nextComic %}<a href="/comic/{{ nextComic }}"><img src="{{ static }}/nav_next.jpg"></a>{% else %}<img src="{{ static }}/nav_next_b.jpg">{% endif %}</td>
        <td>{% if lastComic %}<a href="/comic/{{ lastComic }}"><img src="{{ static }}/nav_end.jpg"></a>{% else %}<img src="{{ static }}/nav_end_b.jpg">{% endif %}</td>
    </tr>
    </table>
    </div>
    <div class = "merch">
	<a href="https://www.teepublic.com/user/existentialcomics?ref_id=1499&ref_type=aff"><img src="{{ static }}/merch.png" class="merch" /></a>
    <a href="https://www.patreon.com/bePatron?u=249109" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
	</div>
    <div class='title'>
	<h3>{{ comic.title }}</h3>
    </div>


    {% for image in comic.images %}
    {% if image.link %}
    <a href="{{ image.link }}">
    {% endif %}
    <img class="comicImg" src="{{ image.filename }}" 
        {% if image.altText and image.altTextReviewed %} alt="{{ image.altText }}"{% endif %} 
        {% if image.titleText %} title="{{ image.titleText }}"{% endif %}>
    {% if image.link %}
    </a>
    {% endif %}
    {% if not loop.last %}<br />{% endif %}
    {% if image.titleText %}
        <div class="altText">
        {{ image.titleText }}
        </div>
    {% endif %}
    {% endfor %}
    <div id="bottom">
        {% if comic.explanation %}
		<!-- <div id=explanation onclick="showExplanation()"> -->
			<div id=explanation>
			{{ comic.explanation|safe }}
			<!-- <strong>Didn't get the joke?</strong> -->
			</div>
			<div id=explainHidden>
			{{ comic.explanation|safe }}
			</div>
		{% endif %}
		{% if philosophers %}
			<div id="philosophers-comic">
				Philosophers in this comic:
				{% for philosopher in philosophers %}
					<a href="{{ philosopher.link }}" {% if philosopher.bio %}title = "{{philosopher.bio}}"{% endif %}>{{ philosopher.name }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
        {% endif %}
        <p class="permalink">Permanent Link to this Comic: <a href="{{ comic.link }}">{{ comic.link }}</a></p>
        <a href="https://www.patreon.com/ExistentialComics">Support the comic on Patreon!</a>
        <div id="share" style='background-image:url({{ static }}/share_42.jpg);'>
            <div style='position:absolute; bottom:0'>
                <table>
                <tr>
                <!--- follow -->
                <td width="241px"> 
                    <a href="/rss.xml"><img src='{{ static }}/rss_42.png' title="Follow on RSS" alt="Follow on RSS"></a>
                    <a href="https://twitter.com/intent/user?screen_name=existentialcoms"><img src="{{ static }}/twitter_42.png" title="Follow on twitter for the jokes too stupid to even make comics out of" alt="Follow on twitter"></a>
                    <a href="https://www.facebook.com/ExistentialComics"><img src="{{ static }}/facebook_42.png" title="Follow on facebook" alt="Follow on facebook"></a>
                </td>
                <!--- share -->
                <td width="241px">
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent('{{ comic.link }}'); return false"><img src="{{ static }}/reddit_42.png" alt="share with reddit" title="share with reddit" border="0" /></a>
                <a href='https://twitter.com/share' onclick=" window.open('https://twitter.com/share?url='+encodeURIComponent('{{ comic.link }}')+'&text='+encodeURIComponent('{{ comic.title }} via @existentialcoms -'))"><img src='{{ static }}/twitter_42.png' alt="share on twitter" title="share with twitter"></a>
                <a href="https://www.facebook.com/sharer/" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ comic.link }}'),'facebook-share-dialog','width=626,height=436'); return false;"><img src='{{ static }}/facebook_42.png' alt="share with your friends on facebook" title="share with your friends"></a>
                <a href='https://plus.google.com/share' onclick=" window.open('https://plus.google.com/share?url='+encodeURIComponent('{{ comic.link}}') )"><img src='{{ static }}/gplus_42.png' alt="share with google employees" title="share with google employees"></a>
                </td>
                </tr>
                </table>
            </div>
        </div>
    <div class = "navigation-links">
    <table class="nav-table">
    <tr>
        <td>{% if firstComic %}<a href="/comic/{{ firstComic }}"><img src="{{ static }}/nav_start.jpg">{% else %}<img src="{{ static }}/nav_start_b.jpg">{% endif %}</td>
        <td>{% if prevComic %}<a href="/comic/{{ prevComic }}"><img src="{{ static }}/nav_prev.jpg"></a>{% else %}<img src="{{ static }}/nav_prev_b.jpg">{% endif %}</td>
        <td><a href="/comic/random"><img src="{{ static }}/nav_rand.jpg"></a></td>
        <td>{% if nextComic %}<a href="/comic/{{ nextComic }}"><img src="{{ static }}/nav_next.jpg"></a>{% else %}<img src="{{ static }}/nav_next_b.jpg">{% endif %}</td>
        <td>{% if lastComic %}<a href="/comic/{{ lastComic }}"><img src="{{ static }}/nav_end.jpg"></a>{% else %}<img src="{{ static }}/nav_end_b.jpg">{% endif %}</td>
    </tr>
    </table>
    </div>
<br />
        {% if showAds %}
    <center><script type="text/javascript" src="http://ap.lijit.com/www/delivery/fpi.js?z=277776&u=existentialcomics&width=728&height=90"></script></center>
{% endif %}
        <div class="links">
            <div class="column">
                <h4>Comics I enjoy:</h4>
                <ul>
                    <li>
                        <a href="http://www.smbc-comics.com/">SMBC Comics</a>
                    </li>
                    <li>
                        <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a>
                    </li>
                    <li>
                        <a href="http://www.lunarbaboon.com/">Lunar Baboon</a>
                    </li>
                    <li>
                        <a href="http://nedroid.com/">Nedroid Picture Diary</a>
                    </li>
                    <li>
                        <a href="http://www.harkavagrant.com/">Hark! A Vagrant</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h4>Podcasts &amp; other sites I like:</h4>
                <ul>
                    <li>
                        <a href="http://www.partiallyexaminedlife.com/">Partially Examined Life</a>
                    </li>
                    <li>
                        <a href="http://www.historyofphilosophy.net/">History of Philosophy without any Gaps</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybites.com/">Philosophy Bites</a>
                    </li>
                    <li>
                        <a href="https://www.revolutionaryleftradio.com/">Revolutionary Left Radio</a>
                    </li>
                    <li>
                        <a href="https://hiphination.org">Hi-Phi Nation</a>
                    </li>
                    <li>
                        <a href="http://www.newphilosopher.com">New Philosopher</a>
                    </li>
					<li>
						<a href="http://www.noahlatz.com/">Art of Noah Latz</a>
					</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're the greatest!">existentialcomics@gmail.com</a>
            </p>
            <ul class="nav">
              <li> <a href="/archive">Archive</a> </li>
              <li> <a href="http://www.patreon.com/ExistentialComics">Patreon</a> </li>
              <li> <a href="/unofficialComics">Unofficial Comics</a> </li>
              <li> <a href="https://kungfuchess.org">Kung Fu Chess</a> </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
function showExplanation() {
   var label = document.getElementById('explanation');
   var labelHidden = document.getElementById('explainHidden');
        
   label.innerHTML = labelHidden.innerHTML;
;
}

//document.addEventListener('keypress', keyPressEv);
document.onkeydown = keyPressEv;

{% if prevComic %}
var prevComic = {{ prevComic }}
{% else %}
var prevComic = null;
{% endif %}

{% if nextComic %}
var nextComic = {{ nextComic }}
{% else %}
var nextComic = null;
{% endif %}

function keyPressEv(e) {
    console.log(e.keyCode);
    if (e.keyCode == 37 && prevComic != null) {
        document.location = '/comic/' + prevComic;
    }
    if (e.keyCode == 39 && nextComic != null) {
        document.location = '/comic/' + nextComic;
    }
    if (e.keyCode == 82) {
        document.location = '/comic/random';
    }
}

</script>

{% endblock %}

