{% extends "base.html" %}
{% block title %}{{ philosopher.name }}{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}/favicon.ico">
{% endblock %}
{% block content %}
<div id="content">
{% if showAds %}
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- comic-top -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2476863297975868"
     data-ad-slot="8363264631"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
{% endif %}
    <a href="/"><img src="{{ static }}/title.jpg" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes"></a>
{% for comic in philosopher.comics %}
<h3>{{ comic.title }}</h3>
    {% for image in comic.images %}
    {% if image.link %}
    <a href="{{ image.link }}">
    {% endif %}
    <img class="comicImg" src="{{ image.filename }}"{% if image.altText %} alt="{{ image.altText }}" title="{{ image.altText }}"{% endif %}>
    {% if image.link %}
    </a>
    {% endif %}
    {% if not loop.last %}<br />{% endif %}
    {% if image.altText %}
    <div class="altText">
    {{ image.altText }}
    </div>
    {% endif %}
    {% endfor %}
        <p class="permalink">Permanent Link to this Comic: {{ comic.link }}</p>
{% endfor %}
    <div id="bottom">
        <a href="http://www.patreon.com/ExistentialComics">Support the comic on Patreon</a>
        <div id="share" style='background-image:url({{ static }}/share_42.jpg);'>
            <div style='position:absolute; bottom:0'>
                <table>
                <tr>
                <!--- follow -->
                <td width="241px"> 
                    <a href="/rss.xml"><img src='{{ static }}/rss_42.png' title="Follow on RSS" alt="Follow on RSS"></a>
                    <a href="https://twitter.com/intent/user?screen_name=existentialcoms"><img src="{{ static }}/twitter_42.png" title="Follow on twitter for the jokes too stupid to even make comics out of" alt="Follow on twitter"></a>
                    <a href="https://www.facebook.com/ExistentialComics"><img src="{{ static }}/facebook_42.png" title="Follow on facebook" alt="Follow on facebook"></a>
                </td>
                <!--- share -->
                <td width="241px">
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent('{{ philosopher.name }}'); return false"><img src="{{ static }}/reddit_42.png" alt="share with reddit" title="share with reddit" border="0" /></a>
                <a href='https://twitter.com/share' onclick=" window.open('https://twitter.com/share?url='+encodeURIComponent('{{ philosopher.name }}')+'&text='+encodeURIComponent('{{ philosopher.title }} via @existentialcoms -'))"><img src='{{ static }}/twitter_42.png' alt="share on twitter" title="share with twitter"></a>
                <a href="https://www.facebook.com/sharer/" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ philosopher.name }}'),'facebook-share-dialog','width=626,height=436'); return false;"><img src='{{ static }}/facebook_42.png' alt="share with your friends on facebook" title="share with your friends"></a>
                <a href='https://plus.google.com/share' onclick=" window.open('https://plus.google.com/share?url='+encodeURIComponent('{{ philosopher.name}}') )"><img src='{{ static }}/gplus_42.png' alt="share with google employees" title="share with google employees"></a>
                </td>
                </tr>
                </table>
            </div>
        </div>
        {% if showAds %}
        <center><script type="text/javascript" src="http://ap.lijit.com/www/delivery/fpi.js?z=277776&u=existentialcomics&width=728&height=90"></script></center>
        {% endif %}
        <div class="links">
            <div class="column">
                <h4>Comics I enjoy:</h4>
                <ul>
                    <li>
                        <a href="http://www.dead-philosophers.com/">Dead Philosophers in Heaven</a>
                    </li>
                    <li>
                        <a href="http://www.smbc-comics.com/">SMBC Comics</a>
                    </li>
                    <li>
                        <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a>
                    </li>
                    <li>
                        <a href="http://www.lunarbaboon.com/">Lunar Baboon</a>
                    </li>
                    <li>
                        <a href="http://nedroid.com/">Nedroid Picture Diary</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h4>Podcasts &amp; other sites I like:</h4>
                <ul>
                    <li>
                        <a href="http://www.partiallyexaminedlife.com/">Partially Examined Life</a>
                    </li>
                    <li>
                        <a href="http://www.historyofphilosophy.net/">History of Philosophy without any Gaps</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybites.com/">Philosophy Bites</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybro.com">Philosophy Bro</a>
                    </li>
                    <li>
                        <a href="http://www.critical-theory.com">Critical-Theory</a>
                    </li>
                    <li>
                        <a href="http://www.newphilosopher.com">New Philospoher</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're the greatest!">existentialcomics@gmail.com</a>
            </p>
            <ul class="nav">
              <li> <a href="/archive">Archive</a> </li>
              <li> <a href="http://www.patreon.com/ExistentialComics">Patreon</a> </li>
              <li> <a href="/unofficialComics">Unofficial Comics</a> </li>
              <li> <a href="/blog">Blog</a> </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
function showExplanation() {
   var label = document.getElementById('explanation');
   var labelHidden = document.getElementById('explainHidden');
        
   label.innerHTML = labelHidden.innerHTML;
;
}
</script>

{% endblock %}

