{% extends "base.html" %}

{% block title %}{{ comic.title }}{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}favicon.ico">
{% endblock %}
{% block content %}
<div id="content">
    <img src="{{ titleImg }}" usemap="#titleMap" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes">
    <map name="titleMap">
    <area shape="rect" coords="45,0,855,200" href="/" alt="Existential Comics">
        {% if firstComic %}<area shape="rect" coords="259,206,312,260" href="/comic/{{ firstComic }}" alt="first">{% endif %}
        {% if prevComic %}<area shape="rect" coords="322,206,410,260" href="/comic/{{ prevComic }}" alt="previous">{% endif %}
        <area shape="rect" coords="425,206,550,260" href="/comic/random" alt="random">
        {% if nextComic %}<area shape="rect" coords="569,206,660,260" href="/comic/{{ nextComic }}" alt="next">{% endif %}
        {% if lastComic %}<area shape="rect" coords="678,206,739,260" href="/comic/{{ lastComic }}" alt="last">{% endif %}
    </map>
    <br />
    <h3>{{ comic.title }}</h3>
    {% for image in comic.images %}
    <img class="comicImg" src="{{ image.filename }}"{% if image.altText %} alt="{{ image.altText }}" title="{{ image.altText }}"{% endif %}>
    {% if not loop.last %}<hr />{% endif %}
    {% if image.altText %}
    <div class="altText">
    {{ image.altText }}
    </div>
    {% endif %}
    {% endfor %}
    <div id="bottom">
        {% if comic.explanation %}
        <div id=explanation onclick="showExplanation()">
        <strong>Didn't get the joke?</strong>
        </div>
        </div>
        <div id=explainHidden style="visibility:hidden;height:0px">
        {% filter markdown %}
        {{ comic.explanation }}
        {% endfilter %}
        </div>
        {% endif %}
        <p class="permalink">Permanent Link to this Comic: {{ comic.link }}</p>
        <div id="share" style='background-image:url({{ static }}share.jpg);'>
            <div style='position:absolute; bottom:0'>
                <table>
                <tr>
                <!--- follow -->
                <td width="241px"> 
                    <a href="/rss.xml"><img src='{{ static }}/rssSmall.png' title="Follow on RSS" alt="Follow on RSS"></a>
                    <a href="https://twitter.com/intent/user?screen_name=existentialcoms"><img src="{{ static }}twitter.png" title="Follow on twitter for the jokes too stupid to even make comics out of" alt="Follow on twitter"></a>
                    <a href="https://www.facebook.com/ExistentialComics"><img src="{{ static }}facebook.png" title="Follow on facebook" alt="Follow on facebook"></a>
                </td>
                <!--- share -->
                <td width="241px">
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent('{{ comic.link }}'); return false"><img src="{{ static }}reddit.png" alt="share with reddit" title="share with reddit" border="0" /></a>
                <a href='https://twitter.com/share' onclick=" window.open('https://twitter.com/share?url='+encodeURIComponent('{{ comic.link }}')+'&text='+encodeURIComponent('{{ comic.title }} via @existentialcoms -'))"><img src='{{ static }}twitter.png' alt="share on twitter" title="share with twitter"></a>
                <a href="https://www.facebook.com/sharer/" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ comic.link }}'),'facebook-share-dialog','width=626,height=436'); return false;"><img src='{{ static }}/facebook.png' alt="share with your friends on facebook" title="share with your friends"></a>
                <a href='https://plus.google.com/share' onclick=" window.open('https://plus.google.com/share?url='+encodeURIComponent('{{ comic.link}}')"><img src='{{ static }}gplus.png' alt="share with google employees" title="share with google employees"></a>
                </td>
                </tr>
                </table>
            </div>
        </div>
	<img src="{{ navImg }}" usemap="#navMap">
        <map name="navMap">
            {% if firstComic %}<area shape="rect" coords="0,0,55,56" href="/comic/{{ firstComic }}" alt="first">{% endif %}
            {% if prevComic %}<area shape="rect" coords="65,0,155,56" href="/comic/{{ prevComic }}" alt="previous">{% endif %}
            <area shape="rect" coords="165,0,295,56" href="/comic/random" alt="random">
            {% if nextComic %}<area shape="rect" coords="305,0,405,56" href="/comic/{{ nextComic }}" alt="next">{% endif %}
            {% if lastComic %}<area shape="rect" coords="415,0,483,56" href="/comic/{{ lastComic }}" alt="last">{% endif %}
        </map>
        <div class="footer">
            <p>
            Other comics I enjoy:</br>
            <a href="http://www.dead-philosophers.com/">Dead Philosophers in Heaven</a></br>
            <a href="http://www.smbc-comics.com/">SMBC Comics</a></br>
            <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a></br>
            </p>
            <p>
            Podcasts I listen to:</br>
            <a href="http://www.partiallyexaminedlife.com/">Partially Examined Life</a></br>
            <a href="http://www.historyofphilosophy.net/">History of Philosophy without any Gaps</a></br>
            <a href="http://www.philosophybites.com/">Philosophy Bites</a></br>
            </p>
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're+the+greatest!">existentialcomics@gmail.com</a>
            </p>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function showExplanation() {
   var label = document.getElementById('explanation');
   var labelHidden = document.getElementById('explainHidden');
        
   label.innerHTML = labelHidden.innerHTML;
;
}
</script>

{% endblock %}

