{% extends "base.html" %}

{% block title %}Grammar report{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}favicon.ico">
{% endblock %}
{% block content %}
<div id="content">
    <img src="{{ titleImg }}" usemap="#titleMap" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes">

Thank you for your report.

    <br />
</div>

{% endblock %}

