{% extends "base.html" %}
{% block title %}Secret url title{% endblock %}
{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
<link rel="shortcut icon" href="{{ static }}/favicon.ico">
<meta property="og:title" content="secret url title" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes" />

{% endblock %}
{% block content %}
<div id="content">

    <a href="/"><img src="{{ static }}/title.jpg" alt="A philosophy webcomic about the inevitable anguish of living a brief life in an absurd world. Also Jokes" ></a>
    
    <div class = "counter" style="background-image: url({{ static }}/safety.png)">
    <h1 class = "counter-num">{{ kantDays }}</h1>
    </div>
    <div class = "merch">
	<a href="https://www.teepublic.com/user/existentialcomics?ref_id=1499&ref_type=aff"><img src="{{ static }}/merch.png" class="merch" /></a>
	</div>
    <div class='title'>
	<h3>title here</h3>
    </div>
put something here, an image or text


        <div class="links">
            <div class="column">
                <h4>Comics I enjoy:</h4>
                <ul>
                    <li>
                        <a href="http://www.dead-philosophers.com/">Dead Philosophers in Heaven</a>
                    </li>
                    <li>
                        <a href="http://www.smbc-comics.com/">SMBC Comics</a>
                    </li>
                    <li>
                        <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a>
                    </li>
                    <li>
                        <a href="http://www.lunarbaboon.com/">Lunar Baboon</a>
                    </li>
                    <li>
                        <a href="http://nedroid.com/">Nedroid Picture Diary</a>
                    </li>
                    <li>
                        <a href="http://www.harkavagrant.com/">Hark! A Vagrant</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h4>Podcasts &amp; other sites I like:</h4>
                <ul>
                    <li>
                        <a href="http://www.partiallyexaminedlife.com/">Partially Examined Life</a>
                    </li>
                    <li>
                        <a href="http://www.historyofphilosophy.net/">History of Philosophy without any Gaps</a>
                    </li>
                    <li>
                        <a href="http://www.philosophybites.com/">Philosophy Bites</a>
                    </li>
                    <li>
                        <a href="https://hiphination.org">Hi-Phi Nation</a>
                    </li>
                    <li>
                        <a href="http://www.newphilosopher.com">New Philosopher</a>
                    </li>
					<li>
						<a href="http://www.noahlatz.com/">Art of Noah Latz</a>
					</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>
            Contact: <a href="mailto:existentialcomics@gmail.com?subject=You're the greatest!">existentialcomics@gmail.com</a>
            </p>
            <ul class="nav">
              <li> <a href="/archive">Archive</a> </li>
              <li> <a href="http://www.patreon.com/ExistentialComics">Patreon</a> </li>
              <li> <a href="/unofficialComics">Unofficial Comics</a> </li>
              <li> <a href="/blog">Blog</a> </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
function showExplanation() {
   var label = document.getElementById('explanation');
   var labelHidden = document.getElementById('explainHidden');
        
   label.innerHTML = labelHidden.innerHTML;
;
}
</script>

{% endblock %}

